<h1>List of All Departments</h1>

<hr>

<!-- Create Department Form -->
<%= form_with(url: "/insert_department", method: "post") do |form| %>
  <div>
    <label for="name_box">Name</label>
    <%= form.text_field :query_name, id: "name_box" %>
  </div>
  <div>
    <%= form.submit "Create Department" %>
  </div>
<% end %>

<hr>

<!-- Departments Table -->
<table class="table" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.id %></td>
        <td><%= department.name %></td>
        <td>
          <a href="/departments/<%= department.id %>">Show Details</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
